.nav_home_li{
  list-style: none;
}
.nav_home_li a{
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.company{
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.nav_home_a{
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.nav_home{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(0, 33, 65);
}
.nav_home .company{
  text-transform: uppercase;
}
.nav_home_menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
}
.nav_home_toggler {
  /* cursor: pointer; */
  display: none;
}
.nav_home_toggler_div{
  width: 2rem;
  height: 0.15rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.4s ease-in;
}

@media screen and (max-width: 768px){
  .nav_home_toggler {
    display: block;
    cursor: pointer;
  }
  .nav_home_menu{
    /* display: none; */
    position: fixed;
    top: 5vh;
    right: 0;
    width: 50%;
    height: 50vh;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
}
/* Nav Active Class */
.nav_home_active{
  transform: translate(0%);
}
/* Toggler  Icon Animation*/
.toggle .line1{
  transform: rotate(-45deg) translate(-7px, 5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-7px,-5px);
}