.text_center_margin0 {
  text-align: center;
  margin: 0;
}
.display-none {
  display: none;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.display-flex-center {
  display: flex;
  justify-content: center;
}
.display-flex-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}